@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
  font-family: "Darker Grotesque", "Inter Tight", -apple-system,
    BlinkMacSystemFont, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-family: "Darker Grotesque", "serif";
}

input {
  font-family: "Inter", "serif";
}

p,
body {
  font-family: "Inter", "serif";
}

.buttoncl {
  @apply bg-gray-950 px-6 rounded py-3 text-base shadow-sm hover:shadow-xl hover:bg-gray-800/90 text-white transition duration-200;
}

.announcecl {
  @apply text-left hover:bg-gray-950 text-white px-5 py-3 rounded-full bg-gray-800/60 transition duration-200;
}
